.header{
    background: rgb(245, 249, 249);

    font-size: 5px;
    text-align: center;
}
.header .content h4{
   color: rgb(12, 12, 12);
   font-size: 26px;
   background: rgb(246, 245, 245);
   padding: 10px 30px;


}
.header .content h1{
    color:#0a0a0ab8;
    font-size: 25px;
 
 }

 
