.custom-card {
    background: #fff;
    padding: 25px;
    height: 430px;
    border-radius: 5px;
    box-shadow: 0px 5px 15px 0px rgb(0 0 0 / 10%);
    position: relative;
    z-index: 1;
    transition: all ease 0.5s;
  }
  .custom-card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1%;
    bottom: 0;
    left: 0;
    background: #e5e5a8;
    transition: all ease 0.5s;
    z-index: -1;
    border-radius: 5px;
  }
  .custom-card:hover::before {
    height: 100%;
  }
  .custom-card:hover {
    color: rgb(10, 9, 9);
    transform: translateY(-10px);
  }
  .custom-img {
    width: 120px;
    height: 120px;
    margin: auto;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
  }
  .card-content{
      text-align: left;
  }
  .card-content h5 {
    font-size: 18px;
    /* color: yellowgreen; */
    color: rgb(25, 25, 26);
}
  .custome-btn {
    background: #ff5858;
    color: #fff;
    padding: 9px 30px;
    display: block;
    transition: all ease-in-out 0.3s;
  }
  .cart-btn {
    width: 100%;
    background: #170e01;
    border: 1px solid #e5ecf1;
    border-radius: 0px 0px 8px 8px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 0;
}
  .custome-btn:hover {
    background: #29272a;
    color: #fff;
  }
  .fw-bold {
    font-weight: 500;
  }
  